<br /><br /><br />
<!-- <ul class="custome-list">
    <li *ngIf="all || Manual" (click)="show = !show; showSib = !showSib; tabVisibl = 'Manual'; Manual = true; all = false">

        <div class="img-circle"></div>Manual and Quick Setup Guide

    </li>
    <li *ngIf="!Manual" (click)="show = !show; showSib = !showSib; tabVisibl = 'Connect'">
      <div class="img-circle"></div>Connect Your Mobile Device
      <br>
      <hr> -->
      <!-- <p *ngIf="show"> 22 Lorem ipsum dolor sit amet, consectetur adipisicing elit </p></li> -->
    <!-- <li *ngIf="!Manual" (click)="show = !show; showSib = !showSib; tabVisibl = 'Download'">
      <div class="img-circle"></div>Download Warranty @Safety Sheets</li>
</ul> -->

<br>


<!-- <p *ngIf="show">Lorem ipsum dolor sit amet, consectetur adipisicing elit </p> -->

<ul class="custome-list">
    <li>
      <div *ngIf="all || !showSib" (click)="show = !show; showSib = !showSib; Manual = true; Connect = false; Download = false">
        <div class="img-circle"></div>Manual and Quick Setup Guide
      </div>
      <br>
      <p *ngIf="show && Manual">Lorem ipsum dolor sit amet, consectetur adipisicing elit </p>
    </li>
    <li *ngIf="all || !showSib" (click)="show = !show; showSib = !showSib; Connect = true; Manual = false; Download = false">
      <div class="img-circle"></div>Connect Your Mobile Device
      <br>
      <hr>
      <p *ngIf="show && Connect"> 22 Lorem ipsum dolor sit amet, consectetur adipisicing elit </p></li>
    <li *ngIf="all || !showSib" (click)="show = !show; showSib = !showSib; Download = true; Manual = false; Connect = false">
      <div class="img-circle"></div>Download Warranty @Safety Sheets</li>
</ul>
