
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <a class="logo-container" href="#"><img class="logo-img" src="assets/imgs/kodak-logo.png" alt="kodak-logo"></a>
      <ul class="heder-menu">
          <li>

            <ion-label hidden>Language</ion-label>
            <span class="country-flag {{countryClass}}"></span>
            <ion-select [(ngModel)]="countryName" (ionChange)="setLang($event)" style=" max-width: unset; padding: 0;">
                <ion-option *ngFor="let lg of langList " value="{{ lg.lgID }}" [selected]="lang == lg.lgID">{{ lg.lgName }}</ion-option>
              </ion-select>
        </li>
        <li><a class="top-register-link" (click)="pushRegister()">Register</a></li>
      </ul>
    </ion-title>
  </ion-navbar>
</ion-header>
  <!-- <page-header></page-header> -->

<ion-content>
  <div class="spotLight-img">
    <img src="assets/imgs/spolight-img.jpg">
  </div>
  <!-- <button (click)="feedback()">Click Me</button> -->
  <div class="title">
    <h1>Register your Printer</h1>
  </div>
  <div class="form-container" padding>
    <div class="form-top-txt">
      <h3>Tells us about yourself</h3>
      <a (click)="whyRegPrinter()">Why Register your Printer?</a>
    </div>
    <form class="register-form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div *ngIf="registerForm == sucess">
        <div class="alert alert-success">{{sucessMessage}}</div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="from-group"
          [ngClass]="{
         'has-danger': firstName.invalid && (firstName.dirty || firstName.touched),
         'has-success': firstName.valid && (firstName.dirty || firstName.touched)
       }">
            <label class="form-feild">First Name:<sup>*</sup></label>
            <input type="text" formControlName="firstName" name="firstName" class="form-control custom-form-control" required placeholder="First Name">
            <div class="form-control-feedback" *ngIf="firstName.errors && (firstName.dirty || firstName.touched)">
              <p *ngIf="firstName.errors.required">First Name is required</p>
              <p *ngIf="firstName.errors.pattern">Only alphabets allowed</p>
            </div>
          </div>
        </div>

        <div class="col-xs-12">
          <div class="from-group"
          [ngClass]="{
         'has-danger': lastName.invalid && (lastName.dirty || lastName.touched),
         'has-success': lastName.valid && (lastName.dirty || lastName.touched)
       }">
            <label class="form-feild">Last Name: <sup>*</sup></label>
            <input type="text" formControlName="lastName" name="lastName" class="form-control custom-form-control" required placeholder="Last Name">

            <div class="form-control-feedback" *ngIf="lastName.errors && (lastName.dirty || lastName.touched)">
              <p *ngIf="lastName.errors.required">Last Name is required</p>
              <p *ngIf="lastName.errors.pattern">Only alphabets allowed</p>
            </div>

          </div>
        </div>

        <div formGroupName="emailAddressValid" class="emailAddressValid">

          <div class="col-xs-12">
            <div class="from-group"
            [ngClass]="{
          'has-danger': emailAddress.invalid && (emailAddress.dirty || emailAddress.touched),
          'has-success': emailAddress.valid && (emailAddress.dirty || emailAddress.touched)
          }">
              <label class="form-feild">Email Address:<sup>*</sup></label>
              <input type="email" formControlName="emailAddress" id="emailAddress" name="emailAddress" class="form-control custom-form-control" required placeholder="Email Address">

              <div class="form-control-feedback" *ngIf="emailAddress.errors && (emailAddress.dirty || emailAddress.touched)">
                <p *ngIf="emailAddress.errors.required">Email Address is required</p>
                <p *ngIf="emailAddress.errors.pattern">Email format should be <small><b>joe@abc.com</b></small></p>
              </div>

            </div>
          </div>

          <div class="col-xs-12">
            <div class="from-group"
            [ngClass]="{
          'has-danger': verifyEmail.invalid && (verifyEmail.dirty || verifyEmail.touched),
          'has-success': verifyEmail.valid && (verifyEmail.dirty || verifyEmail.touched)
          }">
              <label class="form-feild">Verify Email:<sup>*</sup></label>
              <input type="email" formControlName="verifyEmail" id="verifyEmail" name="verifyEmail" class="form-control custom-form-control" required placeholder="Verify Email">
              <div class="form-control-feedback" *ngIf="verifyEmail.errors && (verifyEmail.dirty || verifyEmail.touched)">
                <p *ngIf="verifyEmail.errors.required">Verify Email is required</p>
                <p *ngIf="verifyEmail.errors.pattern">Email format should be <small><b>joe@abc.com</b></small></p>
                <p *ngIf="verifyEmail.errors">Email Id not Same</p>
              </div>
            </div>
          </div>

        </div>

        <div class="col-xs-12">
          <div class="from-group"
          [ngClass]="{
         'has-danger': address1.invalid && (address1.dirty || address1.touched),
         'has-success': address1.valid && (address1.dirty || address1.touched)
       }">
            <label class="form-feild">address 1:<sup>*</sup></label>
            <input type="text" formControlName="address1" name="address1" class="form-control custom-form-control" required placeholder="Address">
            <div class="form-control-feedback" *ngIf="address1.errors && (address1.dirty || address1.touched)">
              <p *ngIf="address1.errors.required">Address1 is required</p>
            </div>
          </div>
        </div>

        <div class="col-xs-12">
          <div class="from-group">
            <label class="form-feild">address 2:</label>
            <input type="text" formControlName="address2" name="address2" class="form-control custom-form-control" placeholder="Address">
          </div>
        </div>

        <div class="col-xs-12">
          <div class="from-group"
          [ngClass]="{
         'has-danger': city.invalid && (city.dirty || city.touched),
         'has-success': city.valid && (city.dirty || city.touched)
       }">
            <label class="form-feild">City:<sup>*</sup></label>
            <input type="text" formControlName="city" name="city" class="form-control custom-form-control" required placeholder="City">
            <div class="form-control-feedback" *ngIf="city.errors && (city.dirty || city.touched)">
              <p *ngIf="city.errors.required">City is required</p>
              <p *ngIf="city.errors.pattern">Only alphabets allowed</p>
            </div>
          </div>
        </div>

        <div class="col-xs-12">
          <div class="from-group">
            <label class="form-feild">Country:</label>
            <!-- <input type="text" formControlName="country" name="country" class="form-control custom-form-control" placeholder="Country"> -->
            <select class="customSelect pull-right" formControlName="country" class="form-control custom-form-control" >
              <option value="0">Select Country</option>
              <option *ngFor="let item of countryListing" value="{{item?.id}}">{{item?.country}}</option>
            </select>
          </div>
        </div>

        <div class="col-xs-12">
          <div class="from-group"
          [ngClass]="{
         'has-danger': state.invalid && (state.dirty || state.touched),
         'has-success': state.valid && (state.dirty || state.touched)
       }">
            <label class="form-feild">State:<sup>*</sup></label>
            <input type="text" formControlName="state" name="state" class="form-control custom-form-control" required placeholder="State">
            <div class="form-control-feedback" *ngIf="state.errors && (state.dirty || state.touched)">
              <p *ngIf="state.errors.required">State is required</p>
              <p *ngIf="city.errors.pattern">Only alphabets allowed</p>
            </div>
          </div>
        </div>

        <div class="col-xs-12">
          <div class="from-group"
          [ngClass]="{
         'has-danger': postalCode.invalid && (postalCode.dirty || postalCode.touched),
         'has-success': postalCode.valid && (postalCode.dirty || postalCode.touched)
       }">
            <label class="form-feild">Postal Code:<sup>*</sup></label>
            <input type="text" formControlName="postalCode" name="postalCode" minlength="6" maxlength="6" pattern="[0-6]*" class="form-control custom-form-control" required placeholder="Postal Code">
            <div class="form-control-feedback" *ngIf="postalCode.errors && (postalCode.dirty || postalCode.touched)">
              <p *ngIf="postalCode.errors.required">Postal Code is required</p>
              <p *ngIf="postalCode.errors.minlength">Postal Code minimum 6 digit</p>
              <p *ngIf="postalCode.errors.pattern">Postal Code should be only numbers</p>
            </div>
          </div>
        </div>

        <div class="col-xs-12">
          <div class="from-group"
          [ngClass]="{
         'has-danger': mobileNumber.invalid && (mobileNumber.dirty || mobileNumber.touched),
         'has-success': mobileNumber.valid && (mobileNumber.dirty || mobileNumber.touched)
       }">
            <label class="form-feild">Mobile Number:<sup>*</sup></label>
            <input type="text" formControlName="mobileNumber" name="mobilNumber" minlength="10" maxlength="10" class="form-control custom-form-control" required placeholder="Mobile Number">

            <div class="form-control-feedback" *ngIf="mobileNumber.errors && (mobileNumber.dirty || mobileNumber.touched)">
              <p *ngIf="mobileNumber.errors.required">Mobile is required</p>
              <p *ngIf="mobileNumber.errors.minlength">Mobile Number 10 digit</p>
              <p *ngIf="mobileNumber.errors.pattern">Mobile number should be only numbers</p>
            </div>

          </div>
        </div>

        <div class="col-xs-12">
          <div class="from-group">
            <label class="form-feild">LandLine Number:</label>
            <input type="text" formControlName="landLineNumber" name="landLineNumber" class="form-control custom-form-control" placeholder="LandLine Number">
          </div>
        </div>

        <div class="col-xs-12">
          <p>Funai does not share or sell its customers names or emails with other companies for their marketing purposes. See our '<a herf="#" (click)="privacyPolicy()">Privacy Policy</a>' for further details</p>
        </div>

        <div class="col-xs-12">
          <div class="from-group">
            <label class="form-feild">Would you like to register a KODAK Printer?:</label>
            <select class="form-control custom-form-select-control" formControlName="choosePrinter" name="choosePrinter">
              <option>Choose Printer</option>
              <option *ngFor="let item of printerModelNumber" value="{{item.model_number}}">{{item.model_number}}</option>
            </select>
          </div>
        </div>

        <div class="col-xs-12">
          <div class="from-group"
          [ngClass]="{
         'has-danger': serialNumber.invalid && (serialNumber.dirty || serialNumber.touched),
         'has-success': serialNumber.valid && (serialNumber.dirty || serialNumber.touched)
       }">
            <label class="form-feild">Serial Number:<sup>*</sup></label>
            <input type="text" class="form-control custom-form-control" formControlName="serialNumber" name="serialNumber" required placeholder="Please enter product serial number starting with letter 'J'">
            <div class="form-control-feedback" *ngIf="serialNumber.errors && (serialNumber.dirty || serialNumber.touched)">
              <p *ngIf="serialNumber.errors.required">Please Select Product Serial Number</p>
            </div>
          </div>
          <div class="serial-number" (click)="serialNo()">How do I find my product serial number?</div>
        </div>

        <div class="col-xs-12">
          <div class="from-group"
          [ngClass]="{
         'has-danger': purchaseMonth.invalid && (purchaseMonth.dirty || purchaseMonth.touched),
         'has-success': purchaseMonth.valid && (purchaseMonth.dirty || purchaseMonth.touched),
         'has-danger': purchaseDay.invalid && (purchaseDay.dirty || purchaseDay.touched),
         'has-success': purchaseDay.valid && (purchaseDay.dirty || purchaseDay.touched),
         'has-danger': purchaseYear.invalid && (purchaseYear.dirty || purchaseYear.touched),
         'has-success': purchaseYear.valid && (purchaseYear.dirty || purchaseYear.touched)
       }">
            <label class="form-feild">Purchase Date:<sup>*</sup></label>
            <div class="row">
              <div class="col-xs-4">
                <select class="form-control custom-form-select-control" formControlName="purchaseMonth" name="purchaseMonth" required>
                  <option selected>Month</option>
                  <option *ngFor="let month of months" value={{month}}>{{month}}</option>
                </select>
              </div>
              <div class="col-xs-4">
                <select class="form-control custom-form-select-control" formControlName="purchaseDay" name="purchaseDay" required>
                  <option selected>Day</option>
                  <option *ngFor="let day of days" value={{day}}>{{day}}</option>
                </select>
              </div>
              <div class="col-xs-4">
                <select class="form-control custom-form-select-control" formControlName="purchaseYear" name="purchaseYear" required>
                  <option selected>Year</option>
                  <option *ngFor="let year of years" value={{year}}>{{year}}</option>
                </select>
              </div>
            </div>
            <div class="form-control-feedback" *ngIf="purchaseMonth.errors && (purchaseMonth.dirty || purchaseMonth.touched)">
              <p *ngIf="purchaseMonth.errors.required">Please Select Purchase Month</p>
            </div>
            <div class="form-control-feedback" *ngIf="purchaseDay.errors && (purchaseDay.dirty || purchaseDay.touched)">
              <p *ngIf="purchaseDay.errors.required">Please Select Purchase Date</p>
            </div>
            <div class="form-control-feedback" *ngIf="purchaseYear.errors && (purchaseYear.dirty || purchaseYear.touched)">
              <p *ngIf="purchaseYear.errors.required">Please Select Purchase Year</p>
            </div>
          </div>
        </div>

        <div class="col-xs-12 text-center">
          <button type="submit" [disabled]="!registerForm.valid" class="registerBtn">Register</button>
        </div>

      </div>
    </form>
  </div>
</ion-content>

<div class="my-overlay" padding [hidden]="privacyPolicyoverlayHidden">
  <div class="overlay-container">
    <div class="overlay-header">Privacy Description</div>
    <div class="overlay-inner">
      <h2>Our Commitment To Privacy</h2>
      <p>At Funai we are committed to protecting your privacy online. Our pledge is to safeguard any personal information that you provide us and to make every reasonable effort to use this information only as you choose. we are committed to protecting your privacy online. Our pledge is to safeguard any personal information that you provide us and to make every reasonable effort to use this information only as you choose..</p>
      <p>We at Funai are taking a leadership role in assisting our customers and other businesses in understanding the importance of using your personal information appropriately. We are committed to making the Internet a safe and secure place for you to transact online. Funai is a participant in the Safe Harbor program between the US and the European Union and US and Switzerland</p>
      <h2>Scope of This Notice</h2>
      <p>The goal of this Privacy Notice is to advise you of the online privacy practices of Funaiverite.com and to describe the choices you have about the way the information collected on this site is used.</p>
      <h2>Information You Explicitly Provide:</h2>
      <p>In order to establish your account register products or to participate in various online programs offered through Funaiverite.com you will be asked to provide certain personally identifiable information to us such as your name mailing address e-mail address and phone number. You can choose not to provide this information but then you might not be able to participate in some of our services or offerings.</p>
      <h2>Information We Automatically Collect:</h2>
      <p>We use common internet technologies such as cookies and beacons to ensure the integrity of our site and to customize portions of the site for you.
       <strong>IP Address:</strong> We analyze IP addresses in the aggregate for system administration purposes and to gather broad demographic information. We do not link IP addresses to your computer's User ID, with the following exception: when you place an order using our online checkout process we record your computer's IP address with your order to help us identify fraudulent credit card use. We may share this information with the financial institution that issued the credit card with which an order was placed, or with law enforcement authorities if we determine, or are notified, that the use of the credit card was fraudulent.</p>
      <p><strong>Cookies:</strong> Cookies are small pieces of information stored by your browser on your computer's hard drive at a web site's request. Funai cookies do not contain any personal information but are used primarily as follows:</p>
      <p>• to remember your country and language preferences</p>
      <p>• to help us understand the size of our audience and traffic patterns</p>
      <p>• to collect and record information about what you viewed on our Web site and what you viewed in our e-mail</p>
      <p>• and to deliver information specific to your interests.</p>
      <h2>Using your Information</h2>
      <p>Funai only use your personal information to conduct business with you. Some examples include:</p>
      <p>• registering you in programs</p>
      <p>• creating and maintaining accounts</p>
      <p>• processing fulfilling and following up on orders</p>
      <p>• answering your e-mail</p>
      <p>• communicating with you</p>
      <p>• sending colleagues information on your behalf</p>
      <p>• sending surveys</p>
      <p>• registering products</p>
      <p>We also use this personal information to provide you with information related to your account the products or services you purchased from us to better understand your needs and interests to improve our service and to personalize communications. </p>
      <h2>Does Funai Share Your Information? </h2>
      <p>Your personally identifiable information will not be rented or sold to any third party. Funai may share your personal information as follows: </p>
      <p>• <strong>Companies who work on our behalf:</strong> We contract with other companies to perform business support functions on our behalf which may involve limited access to your personal information. We require these companies to use the information only to provide the contracted services they are prohibited from transferring the information to another party except as needed to provide those services. Some examples of these business support functions include order fulfillment customer survey execution marketing emails and information systems management. We also may make aggregate non-personal information available to select service providers.</p>
      <p>• <strong>Funai's subsidiaries and joint ventures:</strong> A subsidiary or a joint venture is an organization in which Funai owns at least a 50% interest. If Funai shares your information with a subsidiary or joint venture partner Funai will require that they not transfer your information to another party for marketing purposes or use your information contrary to your expressed choices. If you have indicated that you do not want to receive any marketing information from Funai we will not share your information with our subsidiary or joint venture partner for their marketing purposes.</p>
      <p>• <strong>Co-branded and Partner Pages:</strong> Funai may share information with partner companies who jointly present special offers or promotions on co-branded pages within our site. You will be notified of this sharing when you are asked to furnish personal data on such a page. The partner's use of any information you submit will be governed by the partner's own privacy notice which you can review before submitting your information.</p>
      <p>• <strong>Business Transfers:</strong> Funai reserves the right to transfer your personal information in connection with the sale or transfer of all or a portion of our business or assets. If the business is sold or transferred Funai will give you an opportunity to tell us not to transfer your personal information. In some cases this may mean that the new organization will not be able to continue providing to you the services or products that Funai provided.</p>
      <p>• <strong>Law Enforcement:</strong> Funai may disclose personal information to third parties without your consent for any of the following reasons: to comply with any law regulation or court order to cooperate with Government investigationsc to help prevent fraud or to enforce or protect the rights of Funai or its subsidiaries</p>
      <h2>Your Choices about Receiving E-mail</h2>
      <p>Funai may send you e-mail about your orders or your account and in response to your questions. Funai and its subsidiaries may also send you e-mail with information and/or special offers about products and services that may be of interest to you unless you indicate you do not want to receive them.</p>
      <p>Under most circumstances we will give you an opportunity to let us know your preference regarding the receiving of promotional e-mail. This option applies to promotional e-mail only as we may find it necessary to send you e-mail relating to your account order product or pricing changes.</p>
      <p>Promotional e-mail that you receive from Funai will tell you how to decline receiving future promotional e-mail</p>
      <h2>Protecting Your Information</h2>
      <p>Funai implements a variety of administrative managerial and technical security measures to help protect your personal information. Funai has Internal Control Standards which relate specifically to the handling of personal information. These include certain controls to help safeguard the information we collect online</p>
      <p>Funai employees are trained to understand and comply with these controls and we communicate our Privacy Notice practices and guidelines to our employees. However while we strive to protect your personal information you must also take steps to protect your information. We urge you to take every precaution to protect your personal information while you are on the Internet.</p>
      <h2>Outside Links</h2>
      <p>Some Funai Web sites contain links to and from other Web sites and Funai is not responsible for the privacy practices of those Web sites. Funai encourages you to ascertain the privacy practices of those Web sites.</p>
      <h2>Keeping Your Information Accurate</h2>
      <p>If you are a registered user you can review and update your profile using your user name and password. You can also contact your Customer Service Representative.</p>
      <h2>Safe Harbor</h2>
      <p>Funai complies with the U.S.-EU Safe Harbor Framework and the U.S.-Swiss Safe Harbor Framework as set forth by the U.S. Department of Commerce regarding the collection, use, and retention of personal information from European Union member countries and Switzerland. Funai has certified that it adheres to the Safe Harbor Privacy Principles of notice, choice, onward transfer, security, data integrity, access, and enforcement. To learn more about the Safe Harbor program, and to view Funai's certification, please visit and retention of personal information from European Union member countries and Switzerland. Funai has certified that it adheres to the Safe Harbor Privacy Principles of notice choice onward transfer Security data integrity Access and enforcement. To learn more about the Safe Harbor program and to view Funai's certification please visit <a href="http://www.export.gov/safeharbor/" target="_blank">http://www.export.gov/safeharbor/</a>.</p>
      <h2>Changes to this Privacy Notice</h2>
      <p>Funai reserves the right to modify this Privacy Notice from time to time..</p>
    </div>
    <button full (click)="close()" class="closeBtn">X</button>
  </div>
</div>
<div class="my-overlay" padding [hidden]="serialNumoverlayHidden">
  <div class="overlay-container">
    <div class="overlay-header">Serial Number Description</div>
    <div class="overlay-inner">
      <div class="alert alert-danger">The serial number of the printer is printed on the label at the rear side of the printer.</div>
    </div>
    <button full (click)="close()" class="closeBtn">X</button>
  </div>
</div>
<div class="my-overlay" padding [hidden]="whyRegPrinteroverlayHidden">
  <div class="overlay-container">
    <div class="overlay-header">WHY REGISTER YOUR NEW PRINTER?</div>
    <div class="overlay-inner">
      <p>The truth is – to make your life just a little bit easier.</p>
      <p>Registering your product will actually help provide you with quicker and more efficient service and support. When you call in for tech support, we’ll know immediately what your serial number is, warranty information and other sometimes hard-to-find information. Cutting down on the time spent pinpointing your exact product gives us more time to pinpoint, and do our best to resolve, your exact problem</p>
      <p>Not only that, registering your product can help assure you get the most out of your warranty, especially if your new machine was a gift and you don’t have a proof of purchase date. Registering your product will solidify the start date on your warranty period and cut down on confusion and frustration should you ever have to take advantage of any warranty services.</p>
      <p>The other big plus to registering your product is that you’ll receive product support alerts. I know by default many of us are scared off at the idea of allowing a company to flood our inboxes with ads and junk mail, but support alerts are very helpful. For instance, in the unfortunate case that we have to issue a recall on a certain product, registered consumers have the best chance of learning of the issue quickly and having more time to take advantage of our offered resolution. Although we will always try to get the news out to all consumers regarding recalls and certain issues, we’re much more likely to reach you if we know that you own one of our products, and more specifically, that it’s the product we’re addressing. Alerts can come for good news, too, like coupons and special offers</p>
      <p>These are just some of the reasons why registering your new printer is a good call. We hope you’ll remember this before you toss that registration card in the trash or close out the pop up forever. It will only take a few minutes and costs you nothing - and the more we know about your product, the better we can service and surprise you with it</p>
    </div>
    <button full (click)="close()" class="closeBtn">X</button>
  </div>
</div>
<div class="my-overlay" padding [hidden]="feedbackoverlayHidden">
  <div class="overlay-container">
    <div class="overlay-header">Kodak Printer Service</div>
    <div class="overlay-inner">
      <div class="issue-resolved-container">
        <p>Your feedback is valuable to us and helps us to serve you better in future</p>
        <h2>Was your issue resolved? Please click Yes / No</h2>
        <button full (click)="feedbackFormOpen()" class="thankYouBtn">No</button>
        <button full (click)="yesThankYou()" class="thankYouBtn">Yes</button>
      </div>
    </div>
  </div>
</div>
<div class="my-overlay" padding [hidden]="feedbackFormoverlayHidden">
  <div class="overlay-container">
    <div class="overlay-header">Kodak Printer Service</div>
    <div class="overlay-inner">
      <div class="feedback-container">
        <h4>Please tell us why?</h4>
        <form class="feedbackForm">
          <label class="radio">I preesed 'No' accidentally
            <input type="radio" value="2" name="is_feedback">
            <span class="checkround"></span>
          </label>
          <label class="radio">This was not my issue type, I want try quick self-help agin
            <input type="radio" value="1" name="is_feedback">
            <span class="checkround"></span>
          </label>
          <label class="radio">I want to chat with customer service
            <input type="radio" (click)="subRadio()" value="3" name="is_feedback">
            <span class="checkround"></span>
          </label>
          <div class="subRadiogroup" *ngIf="subRadioGroup">
            <label class="radio">FAQs
              <input type="radio" value="survey_faqs" name="is_feedback">
              <span class="checkround"></span>
            </label>
            <label class="radio">Videos
              <input type="radio" value="play" name="is_feedback">
              <span class="checkround"></span>
            </label>
            <label class="radio">Downloads
              <input type="radio" value="downloads" name="is_feedback">
              <span class="checkround"></span>
            </label>
            <label class="radio">Virtual Chat
              <input type="radio" value="virtualChat" name="is_feedback">
              <span class="checkround"></span>
            </label>
            <div class="alert alert-warning">
              Please tell us which above solution you opted did not work?
            </div>
          </div>
          <label class="radio">I want to talk to customer service
            <input type="radio" value="4" (click)="subRadioSecond()" name="is_feedback">
            <span class="checkround"></span>
          </label>
          <div class="subRadiogroup" *ngIf="subRadioGroupSecond">
            <label class="radio">FAQs
              <input type="radio" value="survey_faqs" name="is_feedback">
              <span class="checkround"></span>
            </label>
            <label class="radio">Videos
              <input type="radio" value="survey_videos" name="is_feedback">
              <span class="checkround"></span>
            </label>
            <label class="radio">Downloads
              <input type="radio" value="survey_downloads" name="is_feedback">
              <span class="checkround"></span>
            </label>
            <label class="radio">Virtual Chat
              <input type="radio" value="survey_virtualchat" name="is_feedback">
              <span class="checkround"></span>
            </label>
            <div class="alert alert-warning">
              Please tell us which above solution you opted did not work?
            </div>
          </div>
          <button full (click)="thankYou()" class="thankYouBtn">Thank You</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="my-overlay" padding [hidden]="yesThankoverlayHidden">
  <div class="overlay-container">
    <div class="overlay-header">Kodak Printer Service</div>
    <div class="overlay-inner">
      <div class="alert alert-success">Thank you for your feedback.</div>
    </div>
    <button full (click)="close()" class="closeBtn">X</button>
  </div>
</div>
