page-tabs{
    .black-tab { top:0px; position: relative;}
    .black-tab .tabbar{opacity:1; top: 0; bottom: inherit !important;}
    .black-tab .tabbar{background: #000;}
    .black-tab .tab-button{color:#fff;  border-bottom: 2px solid #000;}
    .black-tab .tab-button[aria-selected=true] {color: #ffb834; text-decoration:none; border-bottom: 2px solid #ffb834}
    .black-tab .tab-button-text{font-size:16px;}

    .custome-list{background:#f7f7f7; padding:0px; margin:0px; list-style: none}
    .custome-list li{ padding:10px; display: flex; border-bottom: 1px solid #ededed;
        -ms-flex-align: center;
         -webkit-align-items: center;
        -webkit-box-align: center;
        align-items: center;
      font-size: 15px;}
    .img-circle{border:1px solid #000;
      width: 65px;
      height: 65px;
      // width: 70px; height: 70px;
      border-radius: 250px; margin-right: 10px;
      ion-icon{
        color: #ffc125;
        transform: scale(3);
        transform-origin: -1.5vw 0vh;
      }
    }
}

.sub-tabs{
    .img-circle{
      // width: 60px;
      // height: 60px;
      width: 55px;
      height: 55px;
    }
    ion-icon{
      color: #f9c84d;
      transform: scale(2) !important;
      // transform-origin: -4vw -1vh;
      transform-origin: -3.5vw -1vh !important;
    }
    a{
      font-size: 1.3rem;
    }
  p{ width: 100%;}
}

page-tabs .img-circle {
    width: 65px;
    height: 65px;}
