<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>
        <a class="logo-container" href="#"><img class="logo-img" src="assets/imgs/kodak-logo.png" alt="kodak-logo"></a>
        <ul class="heder-menu">
            <li>
              <ion-label hidden>Language</ion-label>
              <ion-select [(ngModel)]="gender" (ionChange)="setLang($event)" style=" max-width: unset; padding: 0;">
                  <ion-option *ngFor="let lg of langList " value="{{ lg.lgID }}" [selected]="lang == lg.lgID">{{ lg.lgName }}</ion-option>
                </ion-select>
          </li>
          <li><a class="top-register-link" (click)="pushRegister()">Register</a></li>
        </ul>
      </ion-title>
    </ion-navbar>
  </ion-header>