<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <a class="logo-container" href="#"><img class="logo-img" src="assets/imgs/kodak-logo.png" alt="kodak-logo"></a>
        <ul class="heder-menu">
          <li>

            <!-- <ul class="lang-menu" (click)="activeLangList = !activeLangList;" [ngClass]="activeLangList ? 'activeAll' : 'notactiveAll'">
              <li *ngFor="let lg of langList " value="{{ lg.lgID }}" selected="lang == lg.lgID">
             <span class="us-bg">flag - </span> {{ lg.lgName }}</li>
            </ul> -->
<!-- <ion-item> -->
            <ion-label hidden>Language</ion-label>
            <span class="country-flag {{countryClass}}"></span>

            <ion-select title="Language" [(ngModel)]="countryName" (ionChange)="setLang($event)" style="max-width: unset; padding: 0;">
              <ion-option *ngFor="let lg of langList " value="{{ lg.lgID }}" [selected]="lang == lg.lgID">{{ lg.lgName }}</ion-option>
            </ion-select>
          <!-- </ion-item> -->
          </li>
          <li><a class="top-register-link" (click)="pushRegister()">Register</a></li>
        </ul>
    </ion-title>
  </ion-navbar>
</ion-header>
<!-- <page-header></page-header> -->
<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <!-- <img src="https://picsum.photos/600/300/" class="img-responsive" alt="" /> -->
  <img src="assets/imgs/spolight-img.jpg" alt="" />

  <div class="title"><h1>Select Your Printer</h1></div>
  <ion-grid>
    <ion-row>

      <!-- <ion-col col-12>
        <select class="" name="" (change)="setLang($event.target.value)">
            <option value="1" selected>En</option>
            <option value="109">Fr</option>
            <option value="111">spanish</option>
        </select>
      </ion-col> -->
      <ion-col col-6 *ngFor="let p of productPics ; index as i" (click)="goAnOtherPage(i, p.prod_num_id)">
        <div class="product-list">
          <img src="{{ _HttpService.srcUrl_124 + p.modelPic}}" class="img-responsive" alt="" />
          <!-- <h4>{{p.title}} {{p.num_id}}</h4> -->
          <h4>{{p.title}}</h4>

        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<!-- <page-footer></page-footer> -->
