<ul class="custome-list troubleshoot troubleshoot-space {{productLevel2Class}}">
  <!-- <li *ngIf="backAllBtn || backAllBtnList_2"><button ion-item (click)="Printer = true; PrinterList_2 = false;  backAllBtn = true; " class="button button-clear  ion-arrow-left-c ">Back</button></li> -->
  <li *ngFor="let q of productLevel1List ; index as i">
    <div class="img-circle">
      <!-- <ion-icon ios="ios-star" class="icon-ios-bright" md="md-star"></ion-icon> -->
    </div>
    <span col (click)="onclick(q.title, q.ref_id); productLevel2Class='active_'+ i">
      {{ q.title }}
    </span>
  </li>
</ul>

<ul class="custome-list sub-tabs {{productLevel2Class}}" *ngIf="PrinterList_2">
  <li *ngIf="backAllBtn || backAllBtnList_2"><button ion-item (click)="Printer = true; PrinterList_2 = false;  backAllBtn = true; " class="button button-clear  ion-arrow-left-c ">Back</button></li>
  <li col *ngFor="let p of productLevel2List ; index as i" (click)="onclick()">
    <div class="img-circle"></div>
    <a>{{ p.title }}</a>
  </li>
</ul>
