<!--
  Generated template for the Troubleshoot_2Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>
  <ion-navbar>
    <ion-title>Troubleshoot-2</ion-title>
  </ion-navbar>
</ion-header> -->


<ion-content padding>
  <ion-col col-12 class="troubleshoot2-space">
      <button ion-item (click)="pushBack()" class="button button-clear  ion-arrow-left-c ">Back</button>
  </ion-col>
    <!-- <h1><div class="img-circle">
      <ion-icon ios="ios-star" class="icon-ios-bright" md="md-star"></ion-icon>
    </div>{{new_title}}</h1> -->
<ul class="custome-list sub-tabs printer-setup {{productLevel2Class}}" >
    <!-- <br><br><br> -->
    <li><div class="img-circle"></div>{{new_title}}</li>
    <!-- <li *ngIf="backAllBtn || backAllBtnList_2"><button ion-item (click)="Printer = true; PrinterList_2 = false;  backAllBtn = true; " class="button button-clear  ion-arrow-left-c ">Back</button></li> -->
    <li *ngFor="let p of productLevel2List ; index as i">
      <span col (click)="onclick(i+1, p.level_id3, p.title); productLevel2Class='active_'+ i">
        {{ p.title }} 
      </span>
    </li>
  </ul>
</ion-content>
